.page-title-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    /* background: linear-gradient(to right, #6c6efe, #846cfe); */
    background-color: #2e88bf;
    overflow: hidden;
}

.circle {
    background-color: #ffffff;
    position: absolute;
    border-radius: 50%;
    width: 500px;
    height: 500px;
}

.circle1 {
    opacity: .1;
    top: -425px;
    left: 150px;
}

.circle2 {
    opacity: .1;
    top: -10px;
    left: 30px;
}

.circle3 {
    opacity: .1;
    top: -250px;
    left: -250px;
}

h1 {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 20px;
    font-size: 1.75rem;
    color: #ffffff;
    font-weight: 100;
}