:root {
    --status-open: #ffa626;
    --status-inprogress: #2e88bf;
    --status-readyforreview: #15ba95;
    --status-reviewcomplete: #5c5c5c;
}

body {
    padding-top: 50px;
    background-color: #ebf0f0;
    font-family: 'avenir';
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
}

/* background colors */

.bg-white-full {
    background-color: #ffffff;
}

.bg-white-100 {
    background-color: #ebf0f0;
}

.bg-status-open {
    background-color: var(--status-open);
}

.bg-status-in-progress {
    background-color: var(--status-inprogress);
}

.bg-status-ready-for-review {
    background-color: var(--status-readyforreview);
}

.bg-status-review-complete {
    background-color: var(--status-reviewcomplete);
}

.alert-primary {
    background-color: #eaf3f8;
    color: #2e77a4;
}
/* font styles */
h1, h2, h3, h4, h5, p, ul li {
    font-family: 'avenir', sans-serif;
}

h1 {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 20px;
    font-size: 1.75rem;
    color: #ffffff;
    font-weight: 100;
}




h2 {
    font-size: 1.125rem;
    color: #4e4e4e;
    font-weight: 500;
}

p {
    font-weight: 300;
    line-height: 1.6rem;
}

label {
    display: block;
    color: #2e88bf;
    font-size: .9rem;
    font-weight: 700;
}

#work-order-detail p{
font-size: 1rem;
color: #696b6d;
font-weight: 300;
}




/* button sizes */

.btn {
    border: none;
}

.btn-regular {
    padding: 5px 25px;
    font-size: .8rem;
}

.btn-large {
    padding: 10px 25px;
    font-size: .9rem;
}


/* button colors */



.btn-light {
    background-color: #bcbcbc;
    color: #ffffff;
}

.btn-light:hover {
    background-color: #dbdbdb;
    color: #ffffff;
}

.btn-primary {
    background-color: #2e88bf;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #3498d5;
    color: #ffffff;
}

/* components */

.card {
    border: none;
}


.work-order-row {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #dedede;
}

.work-order-cell {
    flex: 1;
    padding: 10px 0 10px 0;
    font-size: .95rem;
    font-weight: '300';
    color:#50575c;
}

.work-order-cell-lg {
    flex-grow: 2; 
}

.status-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 6px 15px 0 0;
}

.status-rectangle {
    display: inline-block;
    /* min-width: 100px; */
    color: #ffffff;
    font-size: .7rem;
    font-weight: 700;
    text-align: center;
    padding: 3px 25px 3px 25px;
    border-radius: 3px;
}

/* page title */

.page-title-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    /* background: linear-gradient(to right, #6c6efe, #846cfe); */
    background-color: #2e88bf;
    overflow: hidden;
}

.circle {
    background-color: #ffffff;
    position: absolute;
    border-radius: 50%;
    width: 500px;
    height: 500px;
}

.circle1 {
    opacity: .1;
    top: -425px;
    left: 150px;
}

.circle2 {
    opacity: .1;
    top: -10px;
    left: 30px;
}

.circle3 {
    opacity: .1;
    top: -250px;
    left: -250px;
}

hr {
    margin: 0 0 15px 0;
}

.info-group {
    margin-bottom: 45px;
}



/* doughtnut chart */

.chart-text {
    fill: #50575c;
}

.chart-number {
    font-size: .35rem;
    line-height: 1;
    text-anchor: middle;
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
