:root {
    --status-open: #ffa626;
    --status-inprogress: #2e88bf;
    --status-readyforreview: #15ba95;
    --status-reviewcomplete: #5c5c5c;
}

body {
    padding-top: 50px;
    background-color: #ebf0f0;
    font-family: 'avenir';
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
}

/* background colors */

.bg-white-full {
    background-color: #ffffff;
}

.bg-white-100 {
    background-color: #ebf0f0;
}

.bg-status-open {
    background-color: var(--status-open);
}

.bg-status-in-progress {
    background-color: var(--status-inprogress);
}

.bg-status-ready-for-review {
    background-color: var(--status-readyforreview);
}

.bg-status-review-complete {
    background-color: var(--status-reviewcomplete);
}

.alert-primary {
    background-color: #eaf3f8;
    color: #2e77a4;
}

/* font styles */

h1, h2, h3, h4, h5, p, ul li {
    font-family: 'avenir', sans-serif;
}

h1 {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 20px;
    font-size: 1.75rem;
    color: #ffffff;
    font-weight: 100;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.1rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

  }



h2 {
    font-size: 1.125rem;
    color: #4e4e4e;
    font-weight: 500;
}

p {
    font-weight: 300;
    line-height: 1.6rem;
}

label {
    display: block;
    color: #2e88bf;
    font-size: .9rem;
    font-weight: 700;
}

.MuiFormControl-root label {
    margin-bottom: .5rem;
}

#work-order-detail p{
font-size: 1rem;
color: #696b6d;
font-weight: 300;
}

#sideNavBar h5 {
    font-size: 1.125rem;
}

#sideNavBar p {
    margin: 0 0 0 0;
    font-size: .9rem;
    color: #8b9095;
    line-height: .9rem;
}


/* layout */


.top-bar {
    width: auto;
    height: 50px;
    background: #ffffff;
    border-bottom: 1px solid #d8d8d8;
}

.sidenavbar {
    background-color: #edf2f5;
    top: 0;
    left: 0;
    width: 350px;
    transform: translateX(-100%);
}


/* sidenavbar styles */

#sideNavBar ul {
    padding: 15px 0 0 0;
    list-style: none;
}

#sideNavBar ul li a {
    background-color: #ffffff;
    display: block;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px 10px;
    text-decoration: none;
    color: #404247;
    transition: border-right 100ms ease-in-out;
}

#sideNavBar ul li a:hover {
    background-color: #fafafa;
    color: #404247;
    border-right: 6px solid #3498d5;
}





/* button sizes */


.btn {
    border: none;
}


.btn-small {
    padding: 5px 10px;
    font-size: .7rem;
}

.btn-regular {
    padding: 5px 10px;
    font-size: .8rem;
}

.btn-regular-wide {
    padding: 5px 25px;
    font-size: .8rem;
}

.btn-large {
    padding: 10px 25px;
    font-size: .9rem;
}


/* button colors */


.btn-transparent {
    background-color: transparent;
    color: #505862;
    font-weight: 700;
}

.btn-transparent:hover {
    background-color: #f5f5f5;
    color: #434b54;
}

.btn-light {
    background-color: #bcbcbc;
    color: #ffffff;
}

.btn-light:hover {
    background-color: #dbdbdb;
    color: #ffffff;
}

.btn-primary {
    background-color: #2e88bf;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #3498d5;
    color: #ffffff;
}

.btn-outline-secondary {
    border: 1px solid #6b7983;
    color: #495761;
}


/* button animation */


.animated-button {
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
  }
  
  .animated-button .original-text {
    transition: opacity 0.3s ease;
  }
  
  .animated-button .hover-text {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    transition: opacity 0.3s ease, top 0.3s ease;
    white-space: nowrap;
    opacity: 0; 
  }
  
  .animated-button:hover .original-text {
    opacity: 0;
  }
  
  .animated-button:hover .hover-text {
    opacity: 1;
    top: 22%; 

  }


/* components */


.card {
    border: none;
}


.work-order-row {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #dedede;
}

.work-order-cell {
    flex: 1;
    padding: 10px 0 10px 0;
    font-size: .95rem;
    font-weight: '300';
    color:#50575c;
}

.work-order-cell-lg {
    flex-grow: 2; 
}

.profile-icon {
    color:#909090;
    transition: color .15s ease;
    font-size: 1.25rem;
}

.profile-icon:hover {
    color:#a7a7a7;
    transition: color .15s ease;
}

@media (max-width: 575.98px) {
    .work-order-row {
      flex-direction: column;
      align-items: start;
      padding: 15px 0 15px 0;
    }
    .work-order-cell {
        padding: 0 0 0 0;
    }
  }


.status-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 6px 15px 0 0;
}

.status-rectangle {
    display: inline-block;
    /* min-width: 100px; */
    color: #ffffff;
    font-size: .7rem;
    font-weight: 700;
    text-align: center;
    padding: 3px 25px 3px 25px;
    border-radius: 3px;
}

.usercard-h {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #dbe2e8;
    padding: 1rem 0;
}


/* page title */


.page-title-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    /* background: linear-gradient(to right, #6c6efe, #846cfe); */
    background-color: #2e88bf;
    overflow: hidden;
}

.circle {
    background-color: #ffffff;
    position: absolute;
    border-radius: 50%;
    width: 500px;
    height: 500px;
}

.circle1 {
    opacity: .1;
    top: -425px;
    left: 150px;
}

.circle2 {
    opacity: .1;
    top: -10px;
    left: 30px;
}

.circle3 {
    opacity: .1;
    top: -250px;
    left: -250px;
}

hr {
    margin: 0 0 15px 0;
}

.info-group {
    margin-bottom: 45px;
}


/* doughtnut chart */


.chart-text {
    fill: #50575c;
}

.chart-number {
    font-size: .35rem;
    line-height: 1;
    text-anchor: middle;
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }


  @keyframes elongate {
    from {
      stroke-dasharray: 0 1000; 
    }
  }
  
  .donut-segment {
    animation: elongate 700ms ease-in-out;
  }

  /* helpers */

  .sticky-sm-top {
    top: 75px;
  }




/* loading bar */


.loading-bar {
    height: 4px;
    width: 100%;
    background-color: #208ed2;
    position: relative;
    overflow: hidden;
  }
  
  .loading-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #77cbff, transparent);
    animation: glowing 1s linear infinite;
  }
  
  @keyframes glowing {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }